$bg-pink: hsl(322, 100%, 66%);
$pale-cyan:hsl(193, 100%, 96%);
$dark-cyan:hsl(192, 100%, 9%);
$grey-blue: hsl(208, 11%, 55%);

$bg-img: url(../images/bg-hero-desktop.svg);
$bg-mobile-img: url(../images/bg-hero-mobile.svg);

$website-width: 1280px;
$group-width: 1232px;

$font-headdings: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-size: 18px;
