@import 'variables';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-headdings;
    height: 100%;
    width: 100%;
}

header{
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: $pale-cyan;
    width: 100%;
    height: 100vh;
    margin-bottom: 8rem;
}

#header-nav{
    padding-top: 2.5rem;
    display: flex;
    justify-content: space-between;

}
// fix logo width and hieght
.logo{
   height: 30px;
   width: 200px;
}


// Main-info
main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.2rem;

    .main-content{
        height: 317px;
        width: 536px;

        .main-h{
            font-size: 40px;
            padding: 10px 15px 10px 0;
        }

        .main-p{
            line-height: 1.8;
            font-family: $font-body;
            font-size: 18.4px;
        }
    }


    .main-img img{
        height: 476px;
        width: 680px;
    }
}

// Section Info
section{
    max-width: $group-width;
    margin: auto;


    .card{
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
        border-radius: 15px;
        margin: 3rem 0;
        height: 430px;


        &-info{
            width: 438px;
            height: 139px;

            h3{
                font-size: 29px;
                margin: 15px 0;
            }

            p{
                color: $grey-blue;
                font-family: $font-body;
                font-size: 15px;
            }
        }
        
        .flex-img{
            height: 332px;
            width: 406px;
        }
    }
    
}

aside{

   

    .aside-container{
        height: 280px;
        width: 800px;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
        background-color: #fff;
        margin: auto;
        padding: 4rem;
        border-radius: 20px;
        text-align: center;
        position: relative;
        top: 100px;
        z-index: 1;

        h3{
            font-size: 32px;
            margin-top: 1rem;
        }
    }
}

.footer{
    background-color: $dark-cyan;
    font-family: $font-body;
    height: 540px;
    color: #fff;
    


    .footer-container{
        max-width: $website-width;
        margin: auto;
        padding-top: 10rem;


        .white-logo{
            margin-bottom: 1.2rem;
        }
        
        .footer-group{
           
           display: flex;
           justify-content: space-between;
            
           .fa-ul li{
            margin-bottom: 2rem;
           }
            
        }
    }
    

}


// Media Query

@media only screen and (max-width: 1070px) {
    main{
        display: flex;
        flex-direction: column;

        .main-img{
            background-image: url(/images/bg-hero-mobile.svg);
        }
    }
  }
  